* { 
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
}
html { 
	width: 100%;
	height:100%;
	overflow:hidden;
}

body {
  background: linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%),
	linear-gradient(135deg,  #670d10 0%,#092756 100%);
  height: 100%;
  width: 100%;
}

.container-main {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-content:space-between;
  text-align: center;
  margin-top: auto;
}
.container-wrapper {
  display: flex;
 }
 
 .container-wrapper-center {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-content: center;
   text-align: center;
 }
 
h2 {
  margin-top: 150px;
  color: rgb(255, 255, 255);
	text-shadow: 0 0 10px rgba(0,0,0,0.3);
	letter-spacing:1px;
	text-align:center;
  font-size: 42px;
 }

a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: xx-large;
  margin: 20px 0;
 }
 .login a:hover,
 .login a:focus {
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); */
  color: greenyellow;
  transform: translateY(-0.5rem);
 }
 p {
  font-size: 20px;
 }